*{
    padding: 0px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}
.detectorContainer{
    
  height: 500px;
  width: 100%;
  background-color: greenyellow;
  position: absolute;
}
.detectorContainer .card{
    height: 70px;
    width: 450px;
    box-shadow: rgb(68, 6, 6) 0px 10px 10px 5px;
    border-top: 1px rgb(20, 20, 39);
    border-radius: 6px;
}

h1{
    font-size: 3em;
    color: rgb(150, 6, 6);
    text-align: center;
    padding-bottom: 35px;
    position: relative;
    top: 20%;
    font-family: "Anek Malayalam", sans-serif;
    font-weight: bold;
}
