*{
    padding: 0px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}
.detectorContainer{
    
  height: 500px;
  width: 100%;
  background-color: greenyellow;
  position: absolute;
}
.detectorContainer .card{
    height: 100px;
    width: 450px;
    box-shadow: rgb(68, 6, 6) 0px 10px 10px 5px;
    border-top: 1px rgb(20, 20, 39);
    border-radius: 6px;
}

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; 
    position: relative;
    top: 30%;
}

h1{
    font-size: 3em;
    color: rgb(150, 6, 6);
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    top: 30%;
    font-family: "Anek Malayalam", sans-serif;
    font-weight: bold;
}

h1:hover{
    background-color: lightblue;
    color: rgb(150, 6, 6);
}

.input{
    margin: 8px 0px;
    text-align: center;
}

.input input{
    height: 30px;
    width: 100px;
    margin: 5px;
    text-indent: 15px;
    font-weight: bold;
    border-radius: 6px;
    transition: transform 1s;
}

.input button{
        font-weight: bold;
        font-size: 15px;
        border-radius: 6px;
        padding: 5px 15px;
        box-shadow: 0px 5px 10px;
        background-color: rgb(247, 3, 84);
}

.input button:hover {
    background-color: lightblue;
    color: rgb(247, 3, 84);
    cursor: pointer;
  }
