*{
    padding: 0px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}
.detectorContainer{
    
  height: 500px;
  width: 100%;
  background-color: greenyellow;
  position: absolute;
}


h1{
    font-size: 3em;
    color: rgb(150, 6, 6);
    text-align: center;
    padding-bottom: 35px;
}
